{% extends "Baza/base.html" %}
{% load static %}

{% block content %}
<h2>About Us</h2>

<section id="our-mission">
  <h3>Our Mission</h3>
  <p>
    BazaPrix is dedicated to providing transparent, real-time pricing information to help consumers make informed decisions and to empower local vendors in competitive markets. Our mission is to reduce information asymmetry, promote fairness, and drive economic growth by ensuring that pricing data is both accessible and accurate.
  </p>
</section>




{% endblock %}
