{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BazaPrix - Consumer Dashboard</title>
  <link rel="stylesheet" href="{% static 'Baza/css/styles.css' %}">
</head>
<body>
  <header>
    <header>
      <div class="header-top">
        <h1>BazaPrix</h1>
        <nav class="nav-links">
          
        <a href="{% url 'consumer_dashboard' %}">{{"Dashboard"|translate:language_preference}}</a>
        <a href="{% url 'consumer_profile' %}">{{"Profile"|translate:language_preference}}</a>
        <a href="{% url 'cproduct_list' %}">{{"Product List"|translate:language_preference}}</a>
        <a href="{% url 'vendor_list' %}">{{"Vendors"|translate:language_preference}}</a>
        
      <a href="{% url 'consumer_profile_settings' %}">{{"Language"|translate:language_preference}}</a>
        <a href="{% url 'login' %}">{{"Logout"|translate:language_preference}}</a>
        </nav>
      </div>
    
  
    
    <div class="header-bottom">
      <form class="search-form" action="{% url 'cproduct_search' %}" method="get">
        <input type="search" placeholder="{{ 'Search products...'|translate:language_preference }}" aria-label="Search" name="q">
        <button type="submit">{{ 'Search'|translate:language_preference }}</button>

      </form>
    </div>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>&copy; 2025 BazaPrix.{{" All rights reserved."|translate:language_preference }}</p>
  </footer>
</body>
</html>
