{% extends "Baza/base.html" %}
{% load static %}

{% block content %}
<h2>Contact Us</h2>


<section id="contact-us">
  <h3>Contact Us</h3>
  <p>If you have any questions or need assistance, please get in touch with us:</p>
  <ul>
    <li>Email: <a href="mailto:info@bazaprix.com">info@bazaprix.com</a></li>
    <li>Phone: +123 456 7890</li>
    <li>
      Follow us on social media:
      <a href="https://facebook.com/bazaprix" target="_blank">Facebook</a>,
      <a href="https://twitter.com/bazaprix" target="_blank">Twitter</a>,
      <a href="https://instagram.com/bazaprix" target="_blank">Instagram</a>
    </li>
  </ul>
</section>
{% endblock %}
