{% extends "Baza/vendor_base.html" %}
{% load static %}
{% block content %}
  <h2>Price History for {{ product.name }}</h2>
  <canvas id="priceHistoryChart" width="600" height="400"></canvas>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    
    var ctx = document.getElementById('priceHistoryChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: { labels, safe },
            datasets: [{
                label: 'Price History',
                data: { data,safe },
                backgroundColor: 'rgba(0, 123, 255, 0.2)',
                borderColor: 'rgba(0, 123, 255, 1)',
                borderWidth: 2,
                fill: true,
            }]
        },
        options: {
            scales: {
                x: {
                    title: { display: true, text: 'Date' }
                },
                y: {
                    title: { display: true, text: 'Price ({{ product.currency }})' },
                    beginAtZero: false
                }
            }
        }
    });
  </script>
{% endblock %}
